body {
  font-family: optima, sans-serif;
  font-size: 17px;
  z-index: 0;
  padding-top: 15px;
}

.dark-mode-body {
  background-color: #121212;
  color: white;
}

.dark-mode-body a {
  background-color: none;
  color: white;
}
.dark-mode-body .searchBar input {
  background-color: none;
  color: #121212;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  float: left;
  margin-right: 25px;
}

/* Navigation size */

.nav-bar {
  width: 1840px;
  height: 100px;
  padding-top: 25px;
  padding-left: 35px;
}

.menu {
  float: right;
  margin-top: 2px;
}
.menu li {
  margin-right: 250px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.nav-links {
  margin-right: 6vh;
}

/* Search bar in navigation */
form {
  display: flex;
  float: right;
  width: 250px;
  border: solid lightgray 1px;
  border-radius: 15px;
}
form.searchBar button {
  float: left;
  background: transparent;
  border-right: none;
  cursor: pointer;
  float: right;
  padding: 6px 10px;
  margin-top: 0px;
  margin-right: 0px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

form.searchBar input[type="text"] {
  padding: 6px;
  font-size: 100%;
  border: none;
  float: right;
  flex-shrink: 0;
  font-size: 17px;
}

form.searchBar::after {
  clear: both;
}

/* Background divs */

.green-background {
  background-color: #80c348;
  width: 1888px;
  height: 350px;
  padding-top: 70px;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.img-us {
  border: solid gray 1px;
  background-color: lightgray;
  z-index: 1;
  width: 850px;
  height: 450px;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  color: white;
  top: -230px;
  left: 500px;
  right: 500px;
  position: relative;
}

.description-us-border {
  /* border: solid gray 1px; */
  font-size: 25px;
  z-index: 1;
  width: 850px;
  height: 450px;
  top: -230px;
  left: 500px;
  right: 500px;
  padding-top: 30px;
  position: relative;
  color: gray;
}

.description-us {
  width: 550px;
  font-size: 25px;
  text-align: center;
}

.instagram-logo,
.facebook-logo,
.twitter-logo {
  width: 90px;
  height: 90px;
  position: relative;
  top: 10px;
}
.instagram-logo {
  top: 0px;
  width: 70px;
  height: 70px;
}

.twitter-logo {
  top: 5px;
  width: 80px;
  height: 80px;
}
