body {
  font-family: optima, sans-serif;
  font-size: 17px;

  z-index: 0;
  padding-top: 15px;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  float: left;
  margin-right: 25px;
}

/* Sort by categories and rating*/

.categories-select {
  width: 100%;
  height: 80px;
}

.ratings,
.categories {
  width: 100%;
  height: 20px;
  float: left;
}
.ratings li,
.categories li {
  margin-right: 250px;
  list-style-type: none;
  margin: 5px;
  display: inline;
  border: 1px solid lightgray;
  border-radius: 15px;
}

.categories-select a {
  padding: 3px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
}

/* Navigation size */

.nav-bar {
  width: 1840px;
  height: 100px;
  padding-top: 25px;
  padding-left: 35px;
}

.menu {
  float: right;
  margin-top: 2px;
}
.menu li {
  margin-right: 250px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.nav-links {
  margin-right: 6vh;
}

/* Search bar in navigation */
form {
  display: flex;
  float: right;
  width: 250px;
  border: solid lightgray 1px;
  border-radius: 15px;
}
form.searchBar button {
  float: left;
  background: transparent;
  border-right: none;
  cursor: pointer;
  float: right;
  padding: 6px 10px;
  margin-top: 0px;
  margin-right: 0px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

form.searchBar input[type="text"] {
  padding: 6px;
  font-size: 100%;
  border: none;
  float: right;
  flex-shrink: 0;
  font-size: 17px;
}

form.searchBar::after {
  clear: both;
}

/* Main location and description */

.our-recommendations {
  text-align: center;
  color: #80c348;
  text-decoration: underline;
}

.main-divs {
  display: inline-flex;
  height: 577px;
  width: 1853px;
  margin: 25px;
}

.main-location {
  margin: 10px;
  right: -10%;
  background-color: #777;
  width: 75%;
  height: 550px;
  /* padding: 16px; */
  position: relative;
  margin-bottom: 10px;
}

.main-location {
  margin-left: 35px;
}

.carousell-card {
  height: 550px;
  width: 75%;
  background-color: red;
}
/* ///////////////////////////// */

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.main-description-formation {
  margin: auto;
  padding: 1%;
}
/* /////////////////////////////////////// */

.column {
  width: 620px;
  height: 590px;
  float: left;
  /* border: solid 1px black; */
  padding: 100px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#small-img {
  width: 400px;
  height: 300px;
  border-radius: 20px;
  border: solid 2px black;
}

.inside {
  /* border: solid 1px black; */
  color: black;
  display: flex;
  z-index: 1;
  position: relative;
  margin-top: -40px;
  margin-left: 20px;
  padding-left: 30px;
  width: 100px;
  border: solid 1px black;
  border-radius: 20px;

  background-color: lightgray;
} /* Settings Button top right of nav bar */
/*
.settings-dropdown {
  float: right;
   position: relative; 
  z-index: 2;
}
.dropbtn {
  margin-top: 1.5px;
  background-color: lightgray;
  color: white;
  border: none;
  cursor: pointer;
  float: right;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: gray;
}

.dropdown-content {
  display: none;
  margin-top: 25px;
  background-color: #f1f1f1;
  min-width: 160px; 
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}
*/

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;

  filter: drop-shadow(0 0 40px #0003);
  height: 550px;
  perspective: 100px;
  width: 100%;
}

.carousel__viewport {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  height: 550px;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
}

.carousel__slide:nth-child(even) {
  background-color: #99f;
}

.carousel__slide:before {
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  width: 100%;
  height: 60px;
  /* scroll-snap-align: center; */
}

.carousel__navigation {
  position: fixed;
  text-align: center;
  z-index: 2;
  top: 500px;
  left: 650px;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 20.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

/* STRELIKITE NA LEVO I DESNO */
.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}
