<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DIANS Project</title>
<!--  <link rel="stylesheet" href="style.css" />-->

<!--  <link-->
<!--          rel="stylesheet"-->
<!--          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"-->
<!--  />-->

<!--  <link-->
<!--          rel="stylesheet"-->
<!--          href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"-->
<!--          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="-->
<!--          crossorigin=""-->
<!--  />-->

<!--  <script-->
<!--          src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"-->
<!--          integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="-->
<!--          crossorigin=""-->
<!--  ></script>-->
</head>

<body>
<span class="logo">Tσυɾ-MK</span>
<form class="searchBar"  th:method="get" th:action="@{/places}">
  <input
          id="search"
          name="searchString"
          type="text"
          class="input"
          placeholder="Search..."
          th:value="${searchString}"
  />
  <button type="submit"><i class="fa fa-search"></i></button>
</form>

<br><br>
<a href="/places?selectedTag=Museum" style="color:wheat; font-size: 20px">Museum</a>
<span>...</span>
<a href="/places?selectedTag=Lake" style="color:wheat; font-size: 20px">Lake</a>
<br>
<h1>Mesta:</h1>

<div th:each="place : ${places}">
  <a th:href="'place/' + ${place.getName()}">
    <h2 th:text="${place.getName()}" style="color: black;"> </h2>
    <img referrerpolicy="no-referrer" th:src="${place.getImg()}" alt="alt">
  </a>
</div>


</body>
</html>